img{
  positon: relative;
}
h3 {
  text-align: center;
}

#wrapper {
  width: 75%;
  margin:auto;
}

img{
  width: 20em;
  height: 20em;
  border:.5em solid;
  border-color: #021F59;

}
body{
  background-color:#9084BD;
}
h3 {
  font-family:Quicksand;
}
button{
  margin-bottom:5em;
}
